@import "tailwindcss";

* {
  font-family: "Barlow", sans-serif;
} 

body {
  background-color: #f9fafc;
}

p {
  color: #777;
}

/* * {
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*/